<h1><%= t(".title") %></h1>
<%= form_for @user, url: {action: "create"} do |f| %>
	<table>
		<tr>
			<td><%= f.label :username %>:</td>
			<td>
				<%= f.text_field :username %>
				<% if @user.errors.any? %>
			 		<%= @user.errors[:username].first %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td><%= f.label :mail %>:</td>
			<td>
				<%= f.email_field :mail %>
				<% if @user.errors.any? %>
			 		<%= @user.errors[:mail].first %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td><%= f.label :password %>:</td>
			<td>
				<%= f.password_field :password %>
				<% if @user.errors.any? %>
			 		<%= @user.errors[:password].first %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td><%= f.label :password_confirmation %>:</td>
			<td>
				<%= f.password_field :password_confirmation %>
				<% if @user.errors.any? %>
			 		<%= @user.errors[:password_confirmation].first %>
				<% end %>
			</td></tr>
		<tr><td></td><td><%= f.submit %></td>
	</table>
<% end %>
