<h1><%= @user.username %></h1>
	<table>
		<tr><td><%= t("activerecord.attributes.user.last_name") %>:</td><td><%= @user.last_name %></td></tr>
		<tr><td><%= t("activerecord.attributes.user.first_name") %>:</td><td><%= @user.first_name %></td></tr>
		<tr><td><%= t("activerecord.attributes.user.mail") %>:</td><td><%= @user.mail %></td></tr>
		<tr><td><%= t("activerecord.attributes.user.inscription_date") %>:</td><td><%= @user.inscription_date %></td></tr>
		<tr><td><%= t("activerecord.attributes.user.account_type") %>:</td><td><%= @levelLit %></td></tr>
		<tr><td colspan="2"><%= t(".resume") %>Résumé</td></tr>
		<tr><td><%= t("activerecord.attributes.user.total_user_characters") %>:</td><td><%= @user.characters.length %></td></tr>
		<tr><td><%= t("activerecord.attributes.user.total_user_xp") %>:</td><td><%= @totalxp %></td></tr>
		<tr><td><%= t("activerecord.attributes.user.total_user_money") %>:</td><td><%= @totalmoney %></td></tr>
		<tr><td><%= t("activerecord.attributes.user.total_user_teams") %>:</td><td></td></tr>
		<tr><td><%= t("activerecord.attributes.user.total_user_guns_owned") %>:</td><td></td></tr>
		<tr><td><%= t("activerecord.attributes.user.total_user_guns_used") %>:</td><td></td></tr>
		<tr><td><%= t("activerecord.attributes.user.total_user_games_planned") %>:</td><td></td></tr>
		<tr><td><%= t("activerecord.attributes.user.total_user_games_played") %>:</td><td></td></tr>
	</table>
<h2>Associations</h2>
<h2>Equipes</h2>

<% if !@user.characters.empty? %>
<h2>Personnages</h2>
<table>
	<tr>
		<th>Prénom Nom</th>
		<th>Age</th>
		<th>Sexe</th>
		<th>Equipe</th>
		<th>Argent</th>
		<th>Points d'Expériences</th>
	</tr>
<% @user.characters.each do |character| %>
	<tr>
		<td><a href="/characters/<%= character.id %>"><%= character.first_name + " " + character.last_name %></a></td>
		<td><a href="/characters/<%= character.id %>"><%= character.age.to_s + " Ans" %></a></td>
		<td><a href="/characters/<%= character.id %>"><%= character.sex %></a></td>
		<td></td>
		<td><a href="/characters/<%= character.id %>"><%= character.money %></a></td>
		<td><a href="/characters/<%= character.id %>"><%= character.experience_points %></a></td>
	</tr>
<% end %>
	<tr>
		<td colspan="4">Total : <%= @user.characters.length %> Personnage(s)</td>
		<td><%= @totalmoney %></td>
		<td><%= @totalxp %></td>
	</tr>
</table>
<% end %>
<h2>Répliques</h2>
<h2>Parties</h2>
<h3>Organisteur</h3>
<h3>Participants</h3>
<p><a href="/users">Retourner à la liste des utilisateur</a></p>
